
@{
    ViewBag.Title = "ThongTinSinhVien";
}

<table style="border-color:aqua">
    <tr>
        <th colspan="2" style="text-align:center">Thông tin sinh viên</th>
    </tr>
    <tr>
        <th>Mã SV: </th>
        <td>SV001</td>
    </tr>
    <tr>
    <th>Họ tên: </th>
    <td>Lê Thị Vân</td>
    </tr>

</table>
